body {
  color: #222;
  background: #fcfcfc;
  margin: 0;
  font: 400 14px CoreSans, Helvetica, Arial, sans-serif;
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #738744
}

a {
  color: #d1513b
}

a:hover {
  text-decoration: underline;
}


