body {
  color: #222;
  /* background: #fcfcfc; */
  /* background-image: url(whiteFernComingSoon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */

  margin: 0;
  font: 400 14px CoreSans, Helvetica, Arial, sans-serif;
}

body, html {
  height: 100%;
    margin: 0;
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #738744
}

a {
  color: #d1513b
}

a:hover {
  text-decoration: underline;
}


